[submodule "orientacao-a-objetos"]
	path = orientacao-a-objetos
	url = https://github.com/fpsmount/PROJETO-PARADGMAS---POO
[submodule "orientado-a-eventos-c#"]
	path = "orientado-a-eventos-c#"
	url = https://github.com/fpsmount/POE-e-Csharp
[submodule "paradigma-procedural"]
	path = paradigma-procedural
	url = https://github.com/fpsmount/paradigma-procedural-PLP
[submodule "funcional-f#"]
	path = "funcional-f#"
	url = https://github.com/DEV-JVCQ/Paradigma_Funcional.git
[submodule "paradigma-quantico"]
	path = paradigma-quantico
	url = https://github.com/fpsmount/paradigma-quantico
[submodule "funcional-haskell"]
	path = funcional-haskell
	url = https://github.com/fpsmount/funcional-haskell
[submodule "programacao-reativa"]
	path = programacao-reativa
	url = https://github.com/fpsmount/Programa-o-reativa
[submodule "orientado-a-eventos"]
	path = orientado-a-eventos
	url = https://github.com/fpsmount/paradigma_orientado_a_eventos
[submodule "paradigma-logico"]
	path = paradigma-logico
	url = https://github.com/fpsmount/ProjetoDeParadigmaLogico
