[submodule "orientacao-a-objetos"]
	path = orientacao-a-objetos
	url = https://github.com/fpsmount/PROJETO-PARADGMAS---POO
[submodule "orientado-a-eventos-c#"]
	path = "orientado-a-eventos-c#"
	url = https://github.com/fpsmount/POE-e-Csharp
[submodule "paradigma-procedural"]
	path = paradigma-procedural
	url = https://github.com/fpsmount/paradigma-procedural-PLP
[submodule "paradigma-funcional"]
	path = paradigma-funcional
	url = https://github.com/fpsmount/Paradigma_Funcional
[submodule "funcional-haskell"]
	path = funcional-haskell
	url = https://github.com/jhenriquedsm/paradigma_funcional
