body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.slide-container {
  text-align: center;
}

.slides img {
  width: 100%;
  max-width: 1140px; /* Aumente o tamanho máximo da imagem */
  height: auto;
  display: block;
  margin: 0 auto;
}
#slidesUDF {
  width: 85%;
  max-width: 1000px; /* Aumente o tamanho máximo da imagem */
  height: auto;
  display: block;
  margin: 0 auto;
}


/* .controls {
  margin-top: 100px;
  
} */
.controls {
  position: fixed; /* Fixa a posição na tela */
  top: 50%; /* Centraliza verticalmente */
  right: 5px; /* Coloca no canto direito */
  transform: translateY(-50%); /* Ajusta a centralização vertical */
  display: flex;
  flex-direction: column; /* Alinha os botões em coluna */
  gap: 10px; /* Espaço entre os botões */
}
.controls2 {
  position: fixed; /* Fixa a posição na tela */
  top: 50%; /* Centraliza verticalmente */
  left: 1px; /* Coloca no canto direito */
  transform: translateY(-50%); /* Ajusta a centralização vertical */
  display: flex;
  flex-direction: column; /* Alinha os botões em coluna */
  gap: 10px; /* Espaço entre os botões */
  
 
}
.controls2 a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Herda a cor do botão */
  display: block; /* Faz o link ocupar a área inteira do botão */
  width: 100%; /* Garante que o link se expanda em largura */
  height: 100%; /* Garante que o link se expanda em altura */
}




.btn {
  border: none;
  color: rgb(0, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 15px 15px;
  margin: 1px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #62edff;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/* Estilos individuais */
.btn-procedural{
  background-color: rgb(39, 248, 16);
  
  
}
.btn-poo {
  background-color: #f40000;
}
.btn-eventos {
  background-color: #bc0187;
}
.btn-fsharp {
  background-color: #3300ff;
}
.btn-haskell {
  background-color: #000000;
  color: #3300ff;
}
.btn-quantico {
  background-color: #ff6cd0;
}
.btn-logico {
  background-color: #fbe600;
}
.btn-reativo {
  background-color: #fb4f00;
}
.btn:hover {
  background-color:  #013165; /* Nova cor de fundo ao passar o mouse */
  color: rgb(249, 249, 249); /* Nova cor do texto ao passar o mouse */
}


.btn-next {
  margin-top: 10px;
  background-color: #013165; /* Cor padrão para o botão de próximo */
  color: white;
}
.btn-prev {
  margin-right: 10px; /* Espaço entre os botões */
  background-color: #62edff; /* Cor para o botão "Anterior" */
  color: rgb(5, 4, 4);
}
.btn-next:hover {
  background-color:  #62edff; /* Cor de destaque para o botão "Próximo" */
  color: #000000; /* Cor do texto */
}

.btn-prev:hover {
  background-color: #013165; /* Cor de destaque para o botão "Anterior" */
  color: #fff; /* Cor do texto */
}





body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("udf.jpeg"); /* imagem de fundo */
  background-size: cover; /* Cobre toda a área */
  background-position: center; /* Centraliza a imagem */
}

.slide-container {
  text-align: center;
  background-color: rgba(
    34,
    127,
    184,
    0.256
  ); /* Fundo semitransparente para melhorar a legibilidade */
  padding: 10px;
  border-radius: 10px;
}
.slides iframe {
  width: 100%;
  max-width: 1200px; /* Ajuste o tamanho máximo conforme necessário */
  height: 670px; /* Ajuste a altura conforme necessário */
  border: none; /* Remove a borda do iframe */
  display: block;

  margin-right: 960px;
}


