body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.slide-container {
  text-align: center;
}

.slides img {
  width: 100%;
  max-width: 800px; /* Aumente o tamanho máximo da imagem */
  height: auto;
  display: block;
  margin: 0 auto;
}

.controls {
  margin-top: 20px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-next {
  margin-top: 10px;
  background-color: #042950; /* Cor padrão para o botão de próximo */
  color: white;
}
.btn-prev {
  margin-right: 10px; /* Espaço entre os botões */
  background-color: #ff33a1; /* Cor para o botão "Anterior" */
  color: white;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("udf.jpeg"); /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover; /* Cobre toda a área */
  background-position: center; /* Centraliza a imagem */
}

.slide-container {
  text-align: center;
  background-color: rgba(
    34,
    127,
    184,
    0.256
  ); /* Fundo semitransparente para melhorar a legibilidade */
  padding: 20px;
  border-radius: 10px;
}
.slides iframe {
  width: 200%;
  max-width: 800px; /* Ajuste o tamanho máximo conforme necessário */
  height: 600px; /* Ajuste a altura conforme necessário */
  border: none; /* Remove a borda do iframe */
  display: block;

  margin-right: 500px;
}
